body {
  font-family: 'Titillium Web', sans-serif;
}

header {
  width: 100%;
  background-color: #f76a6e;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  color: white;
  margin: 0 auto;
  padding: 22px 0;
  font-size: 20px;
}

input {
  height: 45px;
}

textarea,
input {
  width: 100%;
  border: 1px solid black;
}

.form-input {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: -15px;
}

img {
  border: none;
  width: 100%;
}

button {
  padding: 10px 20px;
  margin: 12px 0;
  background-color: #f76a6e;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
}

.save-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;
}
