body {
  font-family: 'Titillium Web', sans-serif;
}

header {
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(245, 96, 96);
  color: white;
  text-shadow: black;
  height: 100%;
  width: 100%;
  padding: 1rem;
}

input {
  width: 50%;
}

.form-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.column-half {
  display: flex;
  width: 50%;
  flex-wrap: wrap;
}

.col-1 {
  justify-content: flex-end;
}

.col-2 {
  justify-content: flex-start;
}

.default-img {
  width: 50%;
}

.form-input {
  width: 100%;
}
