body {
  font-family: 'Titillium Web', sans-serif;
}

header {
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(245, 96, 96);
  color: white;
  text-shadow: black;
  height: 100%;
  width: 100%;
  padding: 1rem;
}

input {
  width: 50%;
}

.form-container {
  display: flex;
  width: 100%;
}

.column-half {
  display: flex;
  width: 50%;
  flex-direction: column;
}

.form-input {
  margin: 1rem;

  /* padding-top: 3.5rem; */
}

@media screen and (min-width: 667px) {
  .form-container {
    display: flex;
    width: 50%;
  }
}
